<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    div {
        display: inline-block;
        padding: 20px;
        width: 240px;
        height: 300px;
        border: 2px solid #f0f0f0;
        border-radius: 4px;
        overflow: hidden;
    }

    img {
        width: 100%;
        border-radius: 50%;
    }

    h1 {
        margin-top: 20px;
        font-size: 16px;
        text-transform: uppercase;
        text-align: center;
    }
</style>
<div>
    <img>
    <h1></h1>
</div>